body {
  overflow-y: scroll;
}
article {
  min-height: 70vh;
}
pre {
  scrollbar-width: thin;
}
p {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
